body{
  background-color: rgb(34 34 34);
  color: #fff;
}
button{
  background-color: rgb(164 136 231)!important;
}
.card{
  transition: .4s ease;
  background-color: black;
}
.card:hover{
  transition: .4s ease;
  box-shadow: 0 1px 1px #ff7324, 0 3px 15px #ff7324;
}

footer {
  position: relative;
  margin-top: 8%;
}
